@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/bg-por-do-sol.jpg);
    background-size: cover;
    background-position: center;
}

main {
    width: 300px;
    min-height: 300px;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    padding: 76px 16px 16px 16px;
    border-radius: 16px;
    background-color: #fafafa80;
    backdrop-filter: blur(2px);
}

.perfil {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -50%;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid 6rgb(255, 178, 178);
}

.perfil .foto,
.perfil .logo {
    width: 120px;
    height: 120px;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
    transition: transform .8s;
    transform-style: preserve-3d;

    img {
        width: 100%;
        display: block;
    }
}

.foto {
    background-color: #fd7070;
}

.logo {
    background-color: #fd7070;
    transform: rotateY(180deg);
}

.perfil:hover .foto {
    transform: rotateY(180deg);
}

.perfil:hover .logo {
    transform: rotateY(360deg);
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "Ribeye Marrow", serif;
}

li {
    width: 100%;
    list-style-type: none;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    border: 1px solid red;
    border-radius: 8px;
    background-color: #fd7070;
    transition: .5s;
    color: #fafafa;
    text-decoration: none;
}

a:hover {
    background-color: #fafafa;
    color: #fd7070;
}

h1 {
    font-family: "Honk", system-ui;
    text-align: center;
}

p {
    font-family: "Reem Kufi Ink", sans-serif;
    margin: 16px 0;
}